.popup__title {
  margin: 0 auto;
  width: 358px;
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.208;
}

@media screen and (max-width: 619px) {
  .popup__title  {
    width: 238px;
    font-size: 18px;
    line-height: 1.21;
  }
}
