.header__navbar-link {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.222;
  font-weight: 400;
  padding-left: 24px;
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  .header__navbar-link {
    font-size: 14px;
    padding-left: unset;
    padding-top: 7px;
  }
}