.popup__close-button {
  width: 32px;
  height: 32px;
  border: 0;
  background-color: transparent;
  background: url(../../../images/popup-close-icon.svg) no-repeat center/contain;
  cursor: pointer;
  position: absolute;
  top: -40px;
  left: calc(100% + 8px);
}

@media screen and (max-width: 619px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    left: calc(100% - 20px);
  }
}
