.element__capture {
  margin: 0;
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.049;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
