.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
  margin-left: 18px;
  margin-top: 15px;
  background: url(../../../images/profile-edit-button.svg) no-repeat center;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 8px;
  }
}
