.footer {
  width: 100%;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 919px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    width: calc(100% - 38px);
  }
}
