.element__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 19px;
  width: 18px;
  border: none;
  background-color: transparent;
  background: center / contain no-repeat url(../../../images/element-trash.svg);
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.element__trash:hover {
    opacity: .5;
  }
