.login__submit-button {
  width: 100%;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  margin-top: 216px;
  border: 0;
  padding: 0;
}

.login__submit-button:disabled {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  opacity: .4;
}

@media screen and (max-width: 420px) {
  .login__submit-button {
    margin-top: 173px;
  }
}